:root {
  /* Colors */
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
  --color-white: hsl(0, 0%, 100%);
  /* Typography */
  --font-family-base: 'Outfit', sans-serif;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
  /* Spacing */
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  /* Shadows */
  --shadow-base: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.05);
  /* Border radius */
  --radius-sm: 0.625rem;
  --radius-base: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-slate-300);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: var(--spacing-200);
  box-shadow: var(--shadow-base);
  border-radius: var(--radius-base);
  max-width: 20rem;
  padding: var(--spacing-200);
  background-color: var(--color-white);
  text-align: center;
}

.qr-code {
  display: block;
  border-radius: var(--radius-sm);
  width: 100%;
}

.card-content {
  margin: var(--spacing-300) var(--spacing-200);
}

.card-title {
  color: var(--color-slate-900);
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.625rem;
}

.card-description {
  margin-top: var(--spacing-200);
  color: var(--color-slate-500);
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.0125rem;
}
