* {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.card {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 16px;
  max-width: 320px;
  padding: 16px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.card img {
  display: block;
  border-radius: 10px;
  width: 100%;
}

.card-content {
  margin: 24px 16px;
}

.card-content h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(218, 44%, 22%);
}

.card-content p {
  margin-top: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
}

@media (max-width: 320px) {
  .card-content {
    margin-block: 16px 0;
  }
}
